@import url('https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.App {

}

.AppLabel {
  font-family: 'PT Sans Narrow', serif;
  margin-top: 20px;
  color: #007ad9;
  text-align: center;
}

.p-component{
  font-family: 'PT Sans Narrow', serif !important;
}

.p-link{
  font-family: 'PT Sans Narrow', serif !important;
}
.p-autocomplete{
  margin-bottom: 7px;
}

.pi {
  font-size: 0.8em !important;
}

.p-datatable .p-datatable-header {
  -moz-border-radius-topleft: 4px !important;
  -webkit-border-top-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom: 0 none !important;
}

.p-autocomplete .p-autocomplete-input {
  padding: 0.429em;
  width: 100px;
  height: 33px;
}

.p-paginator {
  font-weight: bold;
  font-size: 14px !important;
  padding: 10px 15px !important;
  background-color: #ffffff !important;
  border-color: #dddddd;
}

.p-paginator .p-paginator-first.p-disabled,
.p-paginator .p-paginator-prev.p-disabled,
.p-paginator .p-paginator-next.p-disabled,
.p-paginator .p-paginator-last.p-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #eeeeee;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #007bff !important;
  color: #ffffff !important;
  border: 1px solid #007bff !important;

}

.p-link:focus {
  -webkit-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  color: #007bff !important;
  padding: 0.125em 0.375em !important;
  min-width: 34px !important;
  min-height: 34px !important;
  font-size: 1em;
  border: 1px solid #dddddd !important;
  margin: 0 !important;
  vertical-align: top !important;
  border-radius: 0 !important;
  border-right: 0 none !important;
}

.p-paginator .p-paginator-first {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  margin-right: -4px !important;
}

.p-paginator .p-paginator-last {
  background-color: #ffffff !important;
  border-right: 1px solid #dddddd !important;
  -moz-border-radius-topright: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  margin-left: -4px !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  margin-right: 0 !important;
  margin-left: 0 !important;
  border: 1px solid #dddddd !important;
  background-color: #ffffff !important;
  border-right: 0 none !important;
  color: #007bff !important;
  min-width: 34px !important;
  min-height: 34px !important;
  font-size: 1em !important;
  font-weight: bold !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
